<dict>
    <key>Blue</key>
    <dict>
        <key>CFBundleIconFiles</key>
        <array><string>BlueIconIpad</string><string>BlueIconLargeIpad</string><string>BlueNotificationIcon</string></array>
        <key>UIPrerenderedIcon</key><true/>
    </dict>
    <key>BahoSnout</key>
    <dict><key>CFBundleIconFiles</key><array><string>BahoSnoutIpad</string><string>BahoSnoutLargeIpad</string></array><key>UIPrerenderedIcon</key><true/></dict>
    <key>BahoSnoutHead</key>
    <dict><key>CFBundleIconFiles</key><array><string>BahoSnoutHeadIpad</string><string>BahoSnoutHeadLargeIpad</string></array><key>UIPrerenderedIcon</key><true/></dict>
    <key>BahoPigPlane</key>
    <dict><key>CFBundleIconFiles</key><array><string>BahoPigPlaneIpad</string><string>BahoPigPlaneLargeIpad</string></array><key>UIPrerenderedIcon</key><true/></dict>
    <key>BahoPigPlaneEars</key>
    <dict><key>CFBundleIconFiles</key><array><string>BahoPigPlaneEarsIpad</string><string>BahoPigPlaneEarsLargeIpad</string></array><key>UIPrerenderedIcon</key><true/></dict>
    <key>BahoPilot</key>
    <dict><key>CFBundleIconFiles</key><array><string>BahoPilotIpad</string><string>BahoPilotLargeIpad</string></array><key>UIPrerenderedIcon</key><true/></dict>
    <key>BahoPilotLens</key>
    <dict><key>CFBundleIconFiles</key><array><string>BahoPilotLensIpad</string><string>BahoPilotLensLargeIpad</string></array><key>UIPrerenderedIcon</key><true/></dict>
    <key>Baho3D</key>
    <dict><key>CFBundleIconFiles</key><array><string>Baho3DIpad</string><string>Baho3DLargeIpad</string></array><key>UIPrerenderedIcon</key><true/></dict>
    <key>Baho3DCircle</key>
    <dict><key>CFBundleIconFiles</key><array><string>Baho3DCircleIpad</string><string>Baho3DCircleLargeIpad</string></array><key>UIPrerenderedIcon</key><true/></dict>
    <key>BahoGlass</key>
    <dict><key>CFBundleIconFiles</key><array><string>BahoGlassIpad</string><string>BahoGlassLargeIpad</string></array><key>UIPrerenderedIcon</key><true/></dict>
    <key>BahoGlassEyes</key>
    <dict><key>CFBundleIconFiles</key><array><string>BahoGlassEyesIpad</string><string>BahoGlassEyesLargeIpad</string></array><key>UIPrerenderedIcon</key><true/></dict>
    <key>BahoKisser</key>
    <dict><key>CFBundleIconFiles</key><array><string>BahoKisserIpad</string><string>BahoKisserLargeIpad</string></array><key>UIPrerenderedIcon</key><true/></dict>
    <key>BahoKisserRed</key>
    <dict><key>CFBundleIconFiles</key><array><string>BahoKisserRedIpad</string><string>BahoKisserRedLargeIpad</string></array><key>UIPrerenderedIcon</key><true/></dict>
    <key>BahoCat</key>
    <dict><key>CFBundleIconFiles</key><array><string>BahoCatIpad</string><string>BahoCatLargeIpad</string></array><key>UIPrerenderedIcon</key><true/></dict>
</dict>
