<dict>
    <key>Blue</key>
    <dict>
        <key>CFBundleIconFiles</key>
        <array><string>BlueIcon</string><string>BlueNotificationIcon</string></array>
        <key>UIPrerenderedIcon</key><true/>
    </dict>
    <key>BahoSnout</key>
    <dict><key>CFBundleIconFiles</key><array><string>BahoSnout</string></array><key>UIPrerenderedIcon</key><true/></dict>
    <key>BahoSnoutHead</key>
    <dict><key>CFBundleIconFiles</key><array><string>BahoSnoutHead</string></array><key>UIPrerenderedIcon</key><true/></dict>
    <key>BahoPigPlane</key>
    <dict><key>CFBundleIconFiles</key><array><string>BahoPigPlane</string></array><key>UIPrerenderedIcon</key><true/></dict>
    <key>BahoPigPlaneEars</key>
    <dict><key>CFBundleIconFiles</key><array><string>BahoPigPlaneEars</string></array><key>UIPrerenderedIcon</key><true/></dict>
    <key>BahoPilot</key>
    <dict><key>CFBundleIconFiles</key><array><string>BahoPilot</string></array><key>UIPrerenderedIcon</key><true/></dict>
    <key>BahoPilotLens</key>
    <dict><key>CFBundleIconFiles</key><array><string>BahoPilotLens</string></array><key>UIPrerenderedIcon</key><true/></dict>
    <key>Baho3D</key>
    <dict><key>CFBundleIconFiles</key><array><string>Baho3D</string></array><key>UIPrerenderedIcon</key><true/></dict>
    <key>Baho3DCircle</key>
    <dict><key>CFBundleIconFiles</key><array><string>Baho3DCircle</string></array><key>UIPrerenderedIcon</key><true/></dict>
    <key>BahoGlass</key>
    <dict><key>CFBundleIconFiles</key><array><string>BahoGlass</string></array><key>UIPrerenderedIcon</key><true/></dict>
    <key>BahoGlassEyes</key>
    <dict><key>CFBundleIconFiles</key><array><string>BahoGlassEyes</string></array><key>UIPrerenderedIcon</key><true/></dict>
    <key>BahoKisser</key>
    <dict><key>CFBundleIconFiles</key><array><string>BahoKisser</string></array><key>UIPrerenderedIcon</key><true/></dict>
    <key>BahoKisserRed</key>
    <dict><key>CFBundleIconFiles</key><array><string>BahoKisserRed</string></array><key>UIPrerenderedIcon</key><true/></dict>
    <key>BahoCat</key>
    <dict><key>CFBundleIconFiles</key><array><string>BahoCat</string></array><key>UIPrerenderedIcon</key><true/></dict>
</dict>
