<dict>
    <key>Blue</key>
    <dict>
        <key>CFBundleIconFiles</key>
        <array><string>BlueIconIpad</string><string>BlueIconLargeIpad</string><string>BlueNotificationIcon</string></array>
        <key>UIPrerenderedIcon</key><true/>
    </dict>
    <key>DgSnout</key>
    <dict><key>CFBundleIconFiles</key><array><string>DgSnoutIpad</string><string>DgSnoutLargeIpad</string></array><key>UIPrerenderedIcon</key><true/></dict>
    <key>DgSnoutHead</key>
    <dict><key>CFBundleIconFiles</key><array><string>DgSnoutHeadIpad</string><string>DgSnoutHeadLargeIpad</string></array><key>UIPrerenderedIcon</key><true/></dict>
    <key>DgPigPlane</key>
    <dict><key>CFBundleIconFiles</key><array><string>DgPigPlaneIpad</string><string>DgPigPlaneLargeIpad</string></array><key>UIPrerenderedIcon</key><true/></dict>
    <key>DgPigPlaneEars</key>
    <dict><key>CFBundleIconFiles</key><array><string>DgPigPlaneEarsIpad</string><string>DgPigPlaneEarsLargeIpad</string></array><key>UIPrerenderedIcon</key><true/></dict>
    <key>DgPilot</key>
    <dict><key>CFBundleIconFiles</key><array><string>DgPilotIpad</string><string>DgPilotLargeIpad</string></array><key>UIPrerenderedIcon</key><true/></dict>
    <key>DgPilotLens</key>
    <dict><key>CFBundleIconFiles</key><array><string>DgPilotLensIpad</string><string>DgPilotLensLargeIpad</string></array><key>UIPrerenderedIcon</key><true/></dict>
    <key>Dg3D</key>
    <dict><key>CFBundleIconFiles</key><array><string>Dg3DIpad</string><string>Dg3DLargeIpad</string></array><key>UIPrerenderedIcon</key><true/></dict>
    <key>Dg3DCircle</key>
    <dict><key>CFBundleIconFiles</key><array><string>Dg3DCircleIpad</string><string>Dg3DCircleLargeIpad</string></array><key>UIPrerenderedIcon</key><true/></dict>
    <key>DgGlass</key>
    <dict><key>CFBundleIconFiles</key><array><string>DgGlassIpad</string><string>DgGlassLargeIpad</string></array><key>UIPrerenderedIcon</key><true/></dict>
    <key>DgGlassEyes</key>
    <dict><key>CFBundleIconFiles</key><array><string>DgGlassEyesIpad</string><string>DgGlassEyesLargeIpad</string></array><key>UIPrerenderedIcon</key><true/></dict>
    <key>DgKisser</key>
    <dict><key>CFBundleIconFiles</key><array><string>DgKisserIpad</string><string>DgKisserLargeIpad</string></array><key>UIPrerenderedIcon</key><true/></dict>
    <key>DgKisserRed</key>
    <dict><key>CFBundleIconFiles</key><array><string>DgKisserRedIpad</string><string>DgKisserRedLargeIpad</string></array><key>UIPrerenderedIcon</key><true/></dict>
    <key>DgCat</key>
    <dict><key>CFBundleIconFiles</key><array><string>DgCatIpad</string><string>DgCatLargeIpad</string></array><key>UIPrerenderedIcon</key><true/></dict>
</dict>
